#cabezas{
    background-color: #ffffff;
    font-size: 22px;
  padding: 0.5rem 3rem; /* top/bottom 8px, left/right 16px */
  font-weight: bold;
  display: flex;
  align-items: left;
  justify-content: left;
}

#navbar-me{
    text-decoration: none;
    color: black;
}

.info-head {
  padding: .5rem 5.6rem;
  width: 100%;
  height: 300px;
  font-size: 50px;
  display: flex;
  justify-content: center;   /* Centra horizontalmente */
  align-items: center;       /* Centra verticalmente */
  font-weight: bold;
  text-align: center;        /* Centra el texto dentro del <p> */
}
.body_base{
    width: 100%;
    height: 100%;
}
.card-text{
  text-align: center;
}

/* Columnas  de sysadmin */

.cards{
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#text-card{
  height: 100%;
  font-weight: bold;
}

#titulo-card{
  text-align: center;
  font-size: 35px;
}
.tecnologias{
  width: 100%;
  height: 1500px;
}
#tecnologias_title{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 20px;
  font-size: 70px;
}

#card-linux{
  width: 450px;
  height: 550px;
  left: 200px;
  top: 50px;
  border: none;
  border-radius: 100px;
}

#card-docker{
  width: 450px;
  height: 550px;
  bottom: 300px;
  left: 800px;
  border: black;
  border-radius: 100px;
}

#card-azure{
   width: 450px;
  height: 550px;
  bottom: 400px;
  left: 200px;
  border: none;
  border-radius: 100px;
}