<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="stylesheet" href="/static/css/index.css">
    <title>Ivan Skills</title>
</head>
<body>
     <header>
      <nav class="navbar navbar-light " id="cabezas">
  <div class="container-fluid pt-4 px-5">
    <a class="navbar-brand" href="index.html">Ivan Alejandro Lopez Montaño</a>
    <a id="navbar-me" href="#">About me</a>
  </div>
</nav>  
     </header>

 <!--Puqueña parte donde ira un poco de tecnologias-->

  <div class="info-head">
     <p>
      Unix System administrator. Programming .<br> Dockers.  Github . Azure & MORE!!!!
     </p> 
  </div>
<!--Vamos a iniciar con el cuerpo del html-->

<div class="body_base">

<!--Unix card-->
<div class="cards"> <!--En esta seccion vamos a agregar dos cartas -->

<div class="card border-0"  style="width: 26rem;height: 28.5rem;">
  <img src="/static/images/linux.png" class="card-img-top" alt="..." style="height: 95%;">
  <div class="card-body">
    <p class="card-text">Unix System administrator</p>
  </div>
</div>
<!--Vamos a agregar nuesta carta con lo que hacemos-->
<div class="card border-0" id="text-card">
  <div class="card-body" style="height: 100%;">
    <p id="titulo-card">Daily activies</p> <br>
Managed RHEL 7/8 servers, ensuring stability and performance <br>
Resolved production incidents, optimizing critical servers and processes <br>
Use tools like ServiceNow for change ,Service Request tickets tracking and closure <br>
Implemented changes in Unix/Linux system permissions and configurations <br>
Collaborated with various teams to enhance internal customer support <br>
Schedule and coordinate system changes as per the Change Management process (aligned with ITIL best practices) <br>
Review change requests and plan execution timelines in coordination with application and infrastructure teams <br>
Execute scheduled changes on Unix-based environments, including patching, deployments, configuration updates, and service restarts <br>
Monitor and verify change success, and roll back if required, ensuring minimal downtime <br>
Perform pre-checks and post-checks to ensure system stability <br>
Work closely with operations, development, and support teams to ensure seamless change delivery <br>
Support after-hours and weekend change windows as required by project timelines <br>
Troubleshoot issues during execution and perform rollbacks if necessary <br>
  </div>
</div>

  </div> <!--Div cards-->

  <!--VAmos a seguir  con la seccion de las tecnologias -->

  <div class="tecnologias">
    

  </div>

</div>  <!--Div body-->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>